body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2"),
    url("./fonts/OpenSans-Regular.woff"),
    url("./fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.woff2"),
    url("./fonts/OpenSans-Bold.woff"),
    url("./fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.footer {
    padding-bottom: 40px;
  }

  .footer-socials {
    padding: 30px;
    text-align: center;
    background-color: #f4f7f6;
  }

  .footer-socials ul {
    margin: 0;
    padding: 0;
  }

  .footer-socials-item {
    display: inline-block;
  }

  .footer-socials-item:nth-child(n + 2) {
    margin-left: 32px;
  }

  .footer-social {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  .footer-twitter {
    background-image: url("./svg/004-twitter.svg");
  }

  .footer-pinterest {
    background-image: url("./svg/001-pinterest.svg");
  }

  .footer-facebook {
    background-image: url("./svg/002-facebook-logo.svg");
  }

  .footer-instagram {
    background-image: url("./svg/005-instagram.svg");
  }

  .footer-tumblr {
    background-image: url("./svg/003-tumblr.svg");
  }

  .footer-copyright {
    display: block;
    margin-top: 74px;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 700;
  }

  .footer-copyright a {
    text-decoration: none;
    color: inherit;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .footer-copyright {
      margin-top: 50px;
    }
  }

  @media (max-width: 640px) {
    .footer-socials-item:nth-child(n+2) {
      margin-left: 28px;
    }
  }
  .main-page-header {
    min-width: 1200px;
    margin-bottom: 64px;
    padding: 29px 0 146px;
    position: relative;
    color: #ffffff;
    background-image: url("../img/banner-bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .main-page-header::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: #000000;
    opacity: 0.6;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    display: block;
    width: 182px;
  }

  .main-menu-button {
    display: none;
  }

  .header-menu {
    padding: 0;
    margin: 0;
  }

  .header-menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
  }

  .header-menu-item:nth-child(n + 2) {
    margin-left: 30px;
  }

  .header-menu-link {
    color: inherit;
    text-decoration: none;
  }

  .header-menu-link:hover {
    text-decoration: underline;
  }

  .header-title-wrapper {
    margin: 127px auto 0;
    padding: 0;
    width: 740px;
    text-align: center;
  }

  .header-title {
    margin: 0 0 35px;
    padding: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.67;
  }

  .header-title:last-child {
    margin-bottom: 0;
  }

@media (min-width: 641px) and (max-width: 1200px) {

  .main-page-header {
    position: relative;
    min-width: 641px;
    margin-bottom: 50px;
    padding: 50px 0px 120px;
    color: #ffffff;
    background-image: url("../img/banner-bg-tablet.jpg");
  }

  .main-page-header::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: #000000;
    opacity: 0.6;
  }

  .header-logo {
    width: 155px;
  }

  .main-menu-button {
    display: block;
    width: 1em;
    height: 0.9em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 24px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .main-menu-button::before {
    top: 0;
  }

  .main-menu-button::after {
    bottom: 0;
  }

  .main-menu-button::before, .main-menu-button::after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .main-menu-button-label {
    width: 100%;
    height: 15%;
    margin-top: -0.05em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-menu {
    display: none;
  }

  .header-title-wrapper {
    margin: 102px auto 0;
    width: 100%;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.38;
  }

}

@media (max-width: 640px) {

  .main-page-header {
    position: relative;
    min-width: 320px;
    margin-bottom: 44px;
    padding: 32px 0px 216px;
    background-image: url("../img/banner-mobile.jpg");
  }

  .header-top {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .header-logo {
    width: 82%;
    order: 1;
  }

  .main-menu {
    align-self: flex-end;
  }

  .main-menu-button {
    display: block;
    margin-bottom: 172px;
    width: 1em;
    height: 0.9em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 24px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .main-menu-button::before {
    top: 0;
  }

  .main-menu-button::after {
    bottom: 0;
  }

  .main-menu-button::before, .main-menu-button::after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .main-menu-button-label {
    width: 100%;
    height: 15%;
    margin-top: -0.07em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-menu {
    display: none;
  }

  .header-title-wrapper {
    margin: 45px auto 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.38;
  }

}

.page {
    margin-bottom: 64px;
}

.trends {
    margin-bottom: 64px;
}

.main-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.main-title::after {
    content: "";
    display: block;
    margin: 14px auto 0;
    width: 62px;
    height: 3px;
    background-color: #b59f5b;
}

.trends-wrapper {
    display: flex;
    justify-content: space-between;
}

.trend-item {
    display: flex;
    position: relative;
    width: calc(25% - 3px);
    min-height: 320px;
    margin-right: 3px;
    padding: 16px 21px;
    background-color: #eff6f1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.6;
}

.trend-item:last-child {
    margin-right: 0;
}

.trend-item-garden {
    background-image: url("../img/trend1.jpg");
}

.trend-item-cheese {
    background-image: url("../img/trend2.jpg");
}

.trend-item-mountains {
    background-image: url("../img/trend3.jpg");
}

.trend-item-lime {
    background-image: url("../img/trend4.jpg");
}

.trend-item-text {
    position: relative;
    align-self: flex-end;
    box-sizing: content-box;
    padding: 10%;
    border: 3px solid #b59f5b;
    text-align: left;
    z-index: 2;
    flex-grow: 1;
}

.main-page-content {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.main-articles {
    width: 66%;
}

.main-article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 62px;
}

.main-article:last-child {
    margin-bottom: 0;
}

.article-img {
    display: block;
    width: 381px;
    margin-right: 30px;
}

.article-tag-row {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article-tag {
    display: inline-block;
    margin-left: 0;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
}

.article-tag:last-child {
    margin-right: 0;
}

.article-tag-link {
    color: inherit;
    text-decoration: none;
}

.article-tag-link:hover {
    text-decoration: underline;
}

.article-title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    color: #0f0d0e;
}

.article-title--color-white {
    color: #ffffff;
}

.article-title:hover {
    color: #b59f5b;
}

.article-title-link {
    color: inherit;
    text-decoration: none;
}

.article-meta {
    margin-top: 36px;
    font-size: 12px;
}

.article-date {
    display: inline-block;
    margin-right: 15px;
    color: #888888;
}

.article-author {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-style: normal;
}

.article-preview {
    margin-top: 54px;
    font-size: 15px;
    line-height: 1.47;
    color: #0f0d0e;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.product {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product:last-child {
    margin-right: 0;
}

.product-image {
    width: 86%;
    margin-bottom: -30px;
    text-align: center;
}

.product-description-wrapper {
    position: relative;
    z-index: 2;
    flex-grow: 2;
    padding: 55px 20px 20px;
    border: 3px solid #b59f5b;
    text-align: left;
    text-decoration: none;
}

.product-description {
    margin-bottom: 26px;
}

.product-description-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.product-description-text {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
}

.highlighted-text {
    color: #b59f5b;
}

.product-description:hover .highlighted-text {
    text-decoration: underline;
}

.product-description-link {
    color: inherit;
    text-decoration: none;
}

.product-offer {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-weight: 700;
    line-height: 1;
}

.old-price {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-decoration: line-through;
}

.new-price {
    margin: 0;
    padding: 0 0 12px;
    font-size: 20px;
}

.shop-link {
    display: block;
    box-sizing: content-box;
    padding: 1.2em 1.7em;
    background: #b59f5b;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.shop-link:hover {
    background: #323232;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .page {
        margin-bottom: 50px;
    }
    .trends {
        margin-bottom: 50px;
    }
    .main-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .main-title::after {
        content: "";
        display: block;
        margin: 14px auto 0;
        width: 62px;
        height: 3px;
        background-color: #b59f5b;
    }
    .trends-wrapper {
        min-width: 641px;
        display: flex;
        flex-wrap: wrap;
    }
    .trend-item {
        margin: 0;
        width: calc(50% - 3px);
        min-height: 248px;
        margin-bottom: 3px;
    }
    .trend-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
    }
    .trend-item:nth-child(even) {
        margin-right: 0;
    }
    .main-articles {
        width: 55%;
        margin-right: 5%;
    }
    .main-article {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .main-article::after {
        content: "";
        width: 100%;
        height: 3px;
        background: #eeeeee;
    }
    .main-article:last-child::after {
        display: none;
    }
    .article-img {
        display: block;
        width: 100%;
        margin-bottom: 14px;
    }
    .article-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .article-meta {
        margin-top: 36px;
        font-size: 12px;
    }
    .article-preview {
        margin-top: 40px;
        line-height: 1.47;
        color: #0f0d0e;
    }
    .article-preview p:last-child {
        margin-bottom: 21px;
    }
    .products-wrapper {
        flex-wrap: wrap;
    }
    .product {
        width: 48.5%;
    }
    .product:nth-child(odd) {
        margin-right: 1.5%;
    }
    .product:nth-child(n+3) {
        margin-top: 28px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-item {
        position: relative;
        width: calc(25% - 3px);
        margin-right: 3px;
        margin-bottom: 3px;
        background-color: #eff6f1;
    }
    .trend-item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 640px) {
    .page {
        margin-bottom: 44px;
    }
    .trends {
        margin-bottom: 50px;
    }
    .main-title {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 1.25;
    }
    .trends-wrapper {
        min-width: 320px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trend-item {
        width: 100%;
        min-height: 230px;
        margin-right: 0;
        margin-bottom: 3px;
    }
    .trend-item-text {
        box-sizing: content-box;
        padding: 10%;
        border: 3px solid #b59f5b;
        text-align: left;
    }
    .main-page-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
    }
    .main-articles {
        width: 100%;
    }
    .main-article {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .main-article::after {
        content: "";
        width: 100%;
        height: 3px;
        background: #eeeeee;
    }
    .main-article:last-child::after {
        margin-bottom: 44px;
    }
    .article-img {
        width: 100%;
        margin-bottom: 14px;
    }
    .article-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .article-meta {
        margin-top: 26px;
    }
    .article-author {
        display: inline-block;
        color: #000000;
        font-weight: 700;
        font-style: normal;
    }
    .article-preview {
        margin-top: 25px;
        font-size: 14px;
    }
    .article-preview p:last-child {
        margin-bottom: 24px;
    }
    .products-wrapper {
        display: flex;
        flex-direction: column;
    }
    .product {
        width: 100%;
        margin-bottom: 28px;
    }
    .product:last-child {
        margin-bottom: 0;
    }
    .product-image {
        width: 86%;
        margin-bottom: -30px;
        text-align: center;
    }
    .highlighted-text {
        color: #b59f5b;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .trend-item {
        position: relative;
        width: calc(50% - 3px);
        margin-right: 3px;
        margin-bottom: 3px;
        background-color: #eff6f1;
    }
    .trend-item:nth-child(even) {
        margin-right: 0;
    }
}

.popup-hidden {
    display: none;
}

.popup::before {
    position: fixed;
    display: block;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background-color: #000000;
    opacity: 0.6;
}

.popup-close-button {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: -25px;
    width: 20px;
    height: 20px;
    background: url("../svg/form-x.svg") center center / cover no-repeat;
    border: none;
}

.popup-form {
    max-width: 390px;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 52px 30px;
    background-color: #ffffff;
    font-size: 13px;
}

.popup-form-row {
    display: block;
    margin-bottom: 30px;
}

.form-hint {
    display: block;
    margin-bottom: 12px;
}

.popup-select-field {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: right 12px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup-radio-text {
    display: inline-block;
    margin-right: 12px;
}

.popup-radio-text::before {
    content: "";
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../svg/form-empty-circle.svg") center center / cover no-repeat;
}

.popup-radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.popup-radio-input:checked~.popup-radio-text::before {
    background: url("../svg/form-circle.svg") center center / cover no-repeat;
}

.popup-text-field {
    padding: 16px;
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 300px;
    background-color: #f4f7f6;
    border: none;
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup-input-field:focus, .popup-text-field:focus {
    outline: solid 2px #b59f5b;
}

.popup-subscription-button {
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .popup-form {
        width: 390px;
    }

    .popup-close-button {
        top: -35px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 640px) {
    .popup-form {
        width: 91vw;
    }

    .popup-close-button {
        top: -35px;
        width: 30px;
        height: 30px;
    }
}

.sidebar {
    width: 24%;
  }

  .sidebar-block:nth-child(n + 2) {
    margin-top: 60px;
  }

  .sidebar-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
  }

  .sidebar-title::after {
    content: "";
    display: block;
    margin: 14px auto 0;
    width: 62px;
    height: 3px;
    background-color: #b59f5b;
  }

  .sidebar-post {
    display: flex;
    align-items: flex-start;
  }

  .sidebar-post:nth-child(n + 2) {
    margin-top: 22px;
  }

  .sidebar-post-image {
    display: block;
    width: 70px;
    margin-right: 18px;
  }

  .sidebar-post-date {
    vertical-align: top;
    color: #888888;
    font-size: 12px;
  }

  .sidebar-post-title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
  }

  .sidebar-post-title-link {
    color: inherit;
    text-decoration: none;
  }

  .sidebar-post-title:hover {
    color: #b59f5b;
  }

  .sidebar-search-form {
    display: flex;
    margin-top: 60px;
    padding: 0;
    width: 100%;
  }

  .form-row {
    margin: 0;
    padding: 0;
  }

  .sidebar-search-form .form-row:first-child {
    flex-grow: 1;
  }

  .sidebar-search-form .form-row:nth-child(2) {
    width: 48px;
  }

  .sidebar-input-field {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: #f4f7f6;
  }

  .sidebar-input-field:focus {
    outline: solid 2px #b59f5b;
  }

  .button-general {
    padding: 0;
    margin: 0;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
  }

  .button-general:hover {
    background-color: #323232;
  }

  .search-button {
    width: 48px;
    height: 48px;
    background-image: url("../svg/search.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;
  }

  .sidebar-subscription-form .form-row:nth-child(2) {
    margin-top: 18px;
  }

  .sidebar-subscription-button {
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }

  .sidebar-tags-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tags-list-item {
    display: block;
    margin: 7px 7px 0 0;
    padding: 6px 11px;
    border: solid 3px #f4f3f1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #0f0d0e;
    text-decoration: none;
  }

  .tags-list-item:hover {
    border: solid 3px #b59f5b;
  }

  .tags-list-link {
    text-decoration: none;
    color: inherit;
  }

  .sidebar-topics-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .topics-list-item {
    display: block;
    box-sizing: content-box;
    padding: 0 0 15px 1px;
    border-bottom: solid 1px #eeeeee;
    font-size: 14px;
    font-weight: 700;
  }

  .topics-list-item:nth-child(n+2) {
    margin-top: 15px;
  }

  .topics-list-link {
    color: inherit;
    text-decoration: none;
  }

  .topics-list-item:hover {
    color: #b59f5b;
  }

  .topics-counter {
    vertical-align: super;
    margin-left: 4px;
    color: #b59f5b;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .sidebar {
      width: 40%;
    }
    .tags-list-item {
      display: block;
      margin: 7px 7px 0 0;
      padding: 6px 13px;
      border: solid 3px #f4f3f1;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: #0f0d0e;
      text-decoration: none;
    }
  }

  @media (max-width: 640px) {
    .sidebar {
      width: 100%;
    }
    .sidebar-block:nth-child(n+2) {
      margin-top: 40px;
    }
    .sidebar-title {
      font-size: 16px;
    }
    .form-row {
      margin: 0;
      padding: 0;
    }
    .sidebar-input-field:focus {
      outline: solid 2px #b59f5b;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
    padding: 65px 0 40px 0;
  }
  
  .social-network_list {
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #f4f7f6; 
  }
  
  .social-network_item {
    margin: 0 25px 0 0; 
  }
  
  .social-network_link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: repeat;
    background-position: center;
  }
  
  .social-network_pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  }
  
  .social-network_facebook {
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  }
  
  .social-network_tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  }
  
  .social-network_twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  }
  
  .social-network_instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  }
  
  .copy_right {
    text-decoration: none;
    margin: 75px auto 0;
    font-size: 13.455px;
    font-family: "OpenSans-Bold", Arial, sans-serif;
    color: #999999;
    font-weight: bold;
    line-height: normal;
  }
  
  @font-face {
      font-family: "OpenSans-Regular";
      src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  }
  
  @font-face {
      font-family: "OpenSans-Bold";
      src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  }
  
  @media screen and (max-width: 1280px) {
      .header_nav {
      margin: 0 calc((100% - 1000px)/2);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
    
  }
  
  [data-title] {position: relative}
  [data-title]:after {
    content: attr(data-title);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top: 2em;
    left: 30%;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
    color: #444;
    background-image: -moz-linear-gradient(top, #fff, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image: -o-linear-gradient(top, #fff, #ddd);
    background-image: -ms-linear-gradient(top, #fff, #ddd);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -o-box-shadow: 0 0 5px #ccc;
    -ms-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
  }
  [data-title]:hover:after {
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.2s ease-out 0.5s;
    -webkit-transition: all 0.2s ease-out 0.5s;
    -o-transition: all 0.2s ease-out 0.5s;
    -ms-transition: all 0.2s ease-out 0.5s;
    transition: all 0.2s ease-out 0.5s;
  }