
.content {
  width: 740px;
  margin: 0 auto;
  margin-top: 20px;
}

p {
  font-size: 18px;
  font-family: sans-serif;
}

a {
  color: #349bdf;
}

.term {
  font-weight: bold;
}

.hint {
  font-style: italic;
}

